<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:src="@{/js/stock/detail.js}"></script>
    <title>Portfolio</title>

</head>

<body>

<nav class="sidenav" th:replace="fragments/sidebar :: sidebar('STOCK_DETAIL')"></nav>

<main>
    <div id="chart_div"></div>
</main>
</body>
</html>