<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="module" th:src="@{/js/util/url_util.js}"></script>
    <script type="module" th:src="@{/js/stock/detail.js}"></script>
    <title>Portfolio</title>

</head>

<body>

<nav class="sidenav" th:replace="fragments/sidebar :: sidebar('STOCK_DETAIL')"></nav>

<main>
    <div id="chart_div"></div>

    <table>
        <tr>
            <th>ticker</th>
            <th>기준일</th>
            <th>기준가</th>
            <th>del</th>
        </tr>
        <tr th:each="detail : ${details}" data-hasChildren=0>
            <td th:text="${detail.ticker}"></td>
            <td th:text="${detail.priceDate}"></td>
            <td th:text="${detail.price}"></td>
            <td><input th:attr="data-id=${detail.id}" type="button" class="deleteBtn" value="delete"
                       style="color: red;"></td>
        </tr>
    </table>
</main>
</body>
</html>