<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://tabulator.info/js/tabulator/tabulator.min.js"></script>

    <link rel="stylesheet" href="http://tabulator.info/css/tabulator/tabulator_site.min.css">
    <script th:src="@{/js/stock/main.js}"></script>
    <title>Portfolio</title>

</head>

<body>

<nav class="sidenav" th:replace="fragments/sidebar :: sidebar('STOCK_MAIN')"></nav>

<main>

    <div id="table" style="width: 610px;"></div>
    <!--
<table>
    <tr>
        <th>ticker</th>
        <th>갯수</th>
        <th>구매가격</th>
        <th>현재가격</th>
        <th>수익률</th>
        <th>del</th>
    </tr>
    <tr th:each="stock : ${stocks}" data-hasChildren=0>
        <td>
            <a th:text="${stock.ticker}"
               th:href="@{/stock/detail?ticker={ticker}(ticker=${stock.ticker})}"></a>
        </td>
        <td th:text="${stock.count}"></td>
        <td th:text="${stock.buyPriceSum}"></td>
        <td th:text="${stock.currentPriceSum}"></td>
        <td th:text="${stock.rate}"></td>
        <td><input th:attr="data-ticker=${stock.ticker}" type="button" class="deleteBtn" value="delete"
                   style="color: red;"></td>
    </tr>
</table>-->
    <br>

    ticker
    <input type="text" name="name" id="ticker">
    잔고
    <input type="text" name="name" id="count">
    <button type="submit" onclick="saveStock()">stock 추가</button>
    <button type="submit" onclick="portfolioSync()">포트폴리오 크롤링 진행</button>
    <button type="submit" onclick="stockSync()">주가 크롤링 진행</button>
</main>
</body>
</html>