@charset "UTF-8";

.sidenav *{list-style: none; text-decoration: none; margin:0; padding: 0;}

.sidenav {
	height: 100%;
	width: 160px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 20px;
	background: #f8f9fa;
}

.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	display: block;
	color: #2f2f2f;
}

.sidenav .active {
	color: #007bff;
}

.sidenav a:hover:not(.active) {
	color: black;
	font-weight: bold;
}

main {
  margin-left: 180px;
  margin-top: 20px;
  padding: 0px 10px;
  
}

.pagination{
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 1.2em;
}

.paginationDIV{
	margin-left: 100px;
	overflow: auto;
	
}

table { border-collapse: collapse;}
table, th, td {border: 1px solid black; width: auto; min-width: 100px; text-align: center;}

.bold_blue{
    color:#048de3;
    font-weight:900;
}

.blue{
    color:blue;
}

.red{
    color:red;
}

.bold_red{
    color:red;
    font-weight:900;
}