<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/js/detail.js}"></script>
    <title>Portfolio Detail</title>

</head>

<body>

    <nav class="sidenav" th:replace="fragments/sidebar :: sidebar('DETAIL')"></nav>

    <main>

        <table>
            <tr>
                <th>name</th>
                <th>date</th>
                <th>price</th>
                <th>del</th>
            </tr>
            <tr th:each="detail : ${details}" data-hasChildren=0>
                <td th:text="${detail.name}"></td>
                <td th:text="${detail.date}"></td>
                <td th:text="${detail.price}"></td>
                <td><input th:attr="data-url=${detail.name}" type="button" class="deleteBtn" value="delete"
                           style="color: red;"></td>
            </tr>
        </table>
    </main>
</body>

</html>