<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/js/main.js}"></script>
    <title>Title</title>

</head>

<body>

    <nav class="sidenav" th:replace="fragments/sidebar :: sidebar('DETAIL')"></nav>

    <main>

    </main>
</body>

</html>