<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/js/type.js}"></script>
    <title>Portfolio Detail</title>

</head>

<body>

    <nav class="sidenav" th:replace="fragments/sidebar :: sidebar('TYPE')"></nav>

    <main>

        <table>
            <tr>
                <th>name</th>
                <th>del</th>
            </tr>
            <tr th:each="type : ${types}" data-hasChildren=0>
                <td th:text="${type.name}"></td>
                <td><input th:attr="data-name=${type.name}" type="button" class="deleteBtn" value="delete"
                        style="color: red;"></td>
            </tr>
        </table>


        <br>
        이름
        <input type="text" name="name" id="name">
        <button type="submit" onclick="saveType()">타입 추가</button>
    </main>
</body>

</html>